$principal: rgb(64, 129, 69);

$primary: $principal;
$enable-shadows: true;
$enable-gradients: true;
$btn-padding-y: 0.8rem;
$btn-padding-x: 0.8rem;

@import "../libs/bootstrap-5.2.0/scss/bootstrap"